.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postHeader {
  display: flex;
  height: 200px;
  width: 100%;
  background-image: url(/_next/static/media/profile.1d8d89dd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ccc;
}

.main {
  padding: 5px 35px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.backToHome {
  margin: 3rem 0 0;
}
